<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pyy.jenkins_demo.Mapper.ApplyCostMapper">
    <select id="getAll" resultType="cn.pyy.jenkins_demo.entity.ApplyCost">
        select * from apply_cost
    </select>

</mapper>